html {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 48px;
  color: black;
  cursor: pointer
}
h1:hover {
    opacity: 1;
    color: #c0392b;
}

h4:hover {
     color: #c0392b;  
    opacity: 1;
   cursor: pointer;
}